/* The main CSS stylesheet for the orangey456 website, for newer browsers (work in progress atm) */

body {
    background-color: #000000;
    background-image: url("images/backstar.gif");
    color: #FFFFFF;
}
a {
    color: #00FFFF;
}
a:visited {
    color: #FF99FF;
}
a:hover {
    color: #ffcbff;
}
